---
layout: default
title: Writing
permalink: /archive/
---

<div class="wrapper">
    <div class="archive-header">
        <h1>Writing</h1>
    </div>

    <div class="archive-timeline">
        {% assign postsByYear = site.posts | sort: 'date_published' | reverse | group_by_exp: 'post', 'post.date_published | date: "%Y"' %}
        
        {% for year in postsByYear %}
        <section class="year-section">
            <h2>{{ year.name }}</h2>
            <ul class="archive-post-list">
                {% for post in year.items %}
                <li class="archive-post-item">
                    <time datetime="{{ post.date_published }}">{{ post.date_published | date: "%b %d" }}</time>
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </div>
</div>